<!DOCTYPE HTML>
{{- partial "lang.html" . }}
<head>
    <title>
    {{- block "title" . }}
        {{- with .Title }}{{ . }} - {{ end }}{{ .Site.Title -}}
    {{- end -}}
    </title>
{{- partial "head.html" . }}
</head>
<body class="loading">
    <div id="wrapper">
        {{- partial "header.html" . }}
        <div id="main">
            {{ block "main" . }}{{ end }}
        </div>
        {{- partial "footer.html" . }}
    </div>
{{- partial "scripts.html" . }}
</body>
</html>
