
{{ "<!-- Footer -->" | safeHTML }}
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>

                <section>
                    <h2>{{ with .Site.Params.footer.paragraph.headline }}{{ . | markdownify }}{{ end }}</h2>
                    <p>{{ with .Site.Params.footer.paragraph.text }}{{ . | markdownify }}{{ end }}</p>
                </section>

                <section>
                    <h2>{{ with .Site.Params.footer.social.headline }}{{ . | markdownify }}{{ end }}</h2>
                    <ul class="icons">
                    {{- range .Site.Params.footer.social.links }}
                        <li><a href="{{ .url }}" class="icon {{ .icon }}"><span class="label">{{ .label }}</span></a></li>
                    {{ end -}}
                    </ul>
                </section>

                {{- /*
                    Unfortunately I cannot find a way to determine if disableKinds
                    is turned on, so I cannot check that for taxonomy or term.
                    Instead I have to use this new parameter
                    */ -}}
                {{- if (default false ($.Param "taxonomies_links")) }}

                    {{- with $.Site.Taxonomies }}
                        <section class="taxonomy_list flexrow">
                            <h2>View all:</h2>
                            <div>
                            {{- range $taxname, $taxterms := $.Site.Taxonomies }}
                                {{- $url := ( printf "/%s/" ($taxname | urlize) ) | relURL }}
                                <div class="tax_term"><a href="{{ $url }}">{{ $taxname | humanize }}</a></div>
                            {{- end }}
                            </div>
                        </section>
                    {{- end }}

                    {{- /* Only display the terms list if this page has some */}}
                    {{- $.Scratch.Set "terms_present" false }}
                    {{- range $taxname, $taxterms := $.Site.Taxonomies }}
                        {{- range ($.Param $taxname) }}
                            {{- $.Scratch.Set "terms_present" true }}
                        {{- end }}
                    {{- end }}
                    {{- if $.Scratch.Get "terms_present" }}
                        <section class="taxonomy_list flexrow">
                            <h2>Terms:</h2>
                            <div>
                            {{- range $taxname, $taxterms := $.Site.Taxonomies }}
                                {{- range ($.Param $taxname) }}
                                    {{- $url := ( printf "/%s/#%s" ($taxname | urlize) ( . | urlize ) ) | relURL }}
                                    <div class="tax_term"><a href="{{ $url }}">{{ . | humanize }}</a></div>
                                {{- end }}
                            {{- end }}
                            </div>
                        </section>
                    {{- end }}
                {{- end }}
            </div>
            {{ if not .Site.Params.footer.contact.hide }}
                <div>
                    <section>
                        <h2>{{ with .Site.Params.footer.contact.headline }}{{ . | markdownify }}{{ end }}</h2>
                        <form method="post" action="//formspree.io/f/{{ with .Site.Params.footer.contact.formspreeID }}{{.}}{{ end }}" novalidate>
                            <div class="field half first">
                                <input type="text" name="name" required data-validation-required-message="{{ with .Site.Params.footer.contact.name.warning }}{{ . | markdownify}}{{ end }}" id="name" placeholder="{{ with .Site.Params.footer.contact.name.text }}{{ .  | markdownify }}{{ end }}">
                            </div>
                            <div class="field half">
                                <input type="email" name="email" required data-validation-required-message="{{ with .Site.Params.footer.contact.email.warning }}{{ . | markdownify }}{{ end }}" id="email" placeholder="{{ with .Site.Params.footer.contact.email.text }}{{ . | markdownify }}{{ end }}">
                            </div>
                            <div class="field">
                                <textarea name="message" required data-validation-required-message="{{ with .Site.Params.footer.contact.message.warning }}{{ . | markdownify }}{{ end }}" id="message" rows="4" placeholder="{{ with .Site.Params.footer.contact.message.text }}{{ . | markdownify }}{{ end }}"></textarea>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="{{ .Site.Params.footer.contact.buttonText }}" class="special"></li>
                                <li><input type="reset" value="{{ .Site.Params.footer.contact.resetText }}"></li>
                            </ul>
                        </form>
                    </section>
                </div>
            {{ end }}
        </div>
        <p class="copyright">
            &copy; {{ with .Site.Params.footer.copyright.name }}{{ . | markdownify }}{{ end }}. {{ i18n "code_generated_with" }} <a href="https://gohugo.io/">Hugo</a>, {{ i18n "theme_based_on" }} <a href="https://github.com/kc0bfv/autophugo/">AutoPhugo</a>.
        </p>
    </footer>
